body {
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    color: aliceblue;
}
.navbar-brand:hover{
    color: aliceblue;
}
.navbar-brand-centered {
    margin: 0 auto;
}

.main-heading {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    color: #333;
    padding-bottom: 30px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    text-align: center;
}

.img-fluid-constant {
    width: 100%;
    height: 170px; /* Set a constant height */
    object-fit: cover; /* Ensures the image covers the area */
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /* Ensures the image covers the area */
    aspect-ratio: 5/4; /* Maintain aspect ratio */
}
