body {
  background-color:  rgb(208, 235, 227);
  font-family: Arial, sans-serif;
}

.navbar-brand {
  color: aliceblue;
}
.navbar-brand:hover {
  color: aliceblue;
}
.navbar-brand-centered {
  margin: 0 auto;
}

.main-heading {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: bold;
  color: #333;
  padding-bottom: 30px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}

.img-fluid-constant {
  width: 100%;
  height: auto;
  max-height: 175px; /* Set a max height */
  object-fit: contain; /* Ensures the image is fully visible */
}

.card-img-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
 
}
#imageS {
  text-align: center;
  object-fit: contain;
}

.accordion-body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

h4{
    text-align: justify;
    padding: 20px;
}

.list{
  text-align: justify;
  font-size: larger;
}

.accordion{
  padding-bottom: 50px;
}

.highlighted-text {
  background-color: #f8f9fa; /* Light background color */
 
  padding: 15px; /* Add padding for spacing */
  font-size: 1.1rem; /* Slightly larger font for better readability */
  color: #495057; /* Dark gray text for contrast */
  font-style: italic; /* Italicized text to add a subtle emphasis */
  border-radius: 5px; /* Rounded corners for a softer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-top: 20px; /* Margin for spacing */
  line-height: 1.6; /* Better line spacing for readability */
  width: 83%; /* Set the width */
  max-width: 100%; /* Ensure it doesn’t exceed the container width */
  margin: 0 auto; /* Center the element horizontally */
  margin-bottom: 15px; /* Spacing at the bottom */
  box-sizing: border-box; /* Ensures padding is included in the width */
  text-align: center; /* Center the text inside the element */
}


.container1{
  text-align: left;
  font-size: medium;
}